<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="6.0.3" targetFramework="net48" />
  <package id="FsUnit" version="4.2.0" targetFramework="net48" />
  <package id="Google.DataTable.Net.Wrapper" version="4.1.0" targetFramework="net48" />
  <package id="Hopac" version="0.5.1" targetFramework="net48" />
  <package id="Http.fs" version="5.4.0" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="MathNet.Numerics.MKL.Win-x64" version="3.0.0" targetFramework="net48" />
  <package id="MathNet.Numerics.Providers.MKL" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NAudio" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Lame" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.0.1" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="XPlot.GoogleCharts" version="3.0.1" targetFramework="net48" />
  <package id="XPlot.GoogleCharts.WPF" version="1.3.0" targetFramework="net452" />
  <package id="XPlot.Plotly" version="4.0.6" targetFramework="net48" />
  <package id="XPlot.Plotly.WPF" version="1.3.0" targetFramework="net452" />
</packages>